[Desktop Entry]
Name=Emacs
Name[eo]=Emakso
Name[et]=Emacs tekstiredaktor
Comment=Emacs
Comment[ca]=Editor Emacs
Comment[cs]=Editor Emacs
Comment[eo]=La redaktilo Emakso
Comment[et]=Võimas tekstiredaktor Emacs
Comment[fi]=Emacs editori
Comment[fr]=Éditeur Emacs
Comment[hu]=Emacs szövegszerkesztő
Comment[is]=Emacs-ritill
Comment[mk]=Софистицираниот Emacs уредувач
Comment[no]=Emacs-tekstredigerer
Comment[pt]=Editor Emacs
Comment[ro]=Editorul Emacs
Comment[ru]=Редактор Emacs
Comment[sk]=Editor Emacs
Comment[sl]=Urejevalnik Emacs
Comment[uk]=Редактор Emacs
BinaryPattern=
Protocols=
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=emacs %f
Icon=emacs.png
TerminalOptions=
Path=
Type=Application
Terminal=0
MapNotify=false
Categories=TextEditor;Development;X-Red-Hat-Base;
Encoding=UTF-8


