[Desktop Entry]
Name=Emacs Text Editor
Name[bg]=редактор Emacs
Name[ca]=Editor Emacs
Name[cs]=Editor Emacs
Name[da]=Emacs tekstredigerer
Name[de]=Emacs Texteditor
Name[eo]=La redaktilo Emakso
Name[et]=Võimas tekstiredaktor Emacs
Name[fi]=Emacs editori
Name[fr]=Éditeur Emacs
Name[hu]=Emacs szövegszerkesztő
Name[is]=Emacs-ritill
Name[ja]=Emacs テキスト・エディター
Name[mk]=Софистицираниот Emacs уредувач
Name[no]=Emacs-tekstredigerer
Name[pt]=Editor Emacs
Name[ro]=Editorul Emacs
Name[ru]=Редактор Emacs
Name[sk]=Editor Emacs
Name[sl]=Urejevalnik Emacs
Name[uk]=Редактор Emacs
GenericName=Text Editor
Comment=Edit text
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=emacs %f
Icon=emacs.png
Type=Application
Terminal=false
Categories=Application;Development;TextEditor;X-Red-Hat-Base;
Encoding=UTF-8
StartupWMClass=Emacs
